

body {
  font-family: Avenir;
  margin: 0;
  padding: 0;
  background-color: #012638;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

body {
  height: 100vh;
}

.task {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 20px;

}

button{
  border: none;
  background-color: #174763;
  width: 100px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: #174763;
  margin: 8px;
  border-radius: 8px;
}

.todo-input {
  outline: none;
  margin: 8px;
  background: none;
  border: 1px solid #174763;
  padding: 30px;
  font-size: 1rem;
  width: 500px;
  border-radius: 8px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.Icon-Wrapprer{
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.input-btn {
  border: none;
  background: none;
  color: #fff;
  margin: 21px;
}


.delete-icon {
  cursor: pointer;
  
}

.about {
  width: 750px;
  padding: 40px;
  color: white;
  line-height: 1.5;
}